html{
	overflow: hidden;
}

body{
	overflow: hidden;
	background-color: #EEEEEE;
	color: #A91D3A;
  	font-family: "Rubik", sans-serif;
  	font-optical-sizing: auto;
  	font-weight: 300;
  	font-style: normal;

	width: 100vw;
	height: 100vh;

  	font-size: 2em;
	margin: 0;
}

#quote-container{
	position: relative;
	margin-left: auto;
	margin-top: 10vh;
}

#quote-container:hover{
	cursor: default;
}

#search-container{
	position: relative;
	/*border: 5px solid red;*/
	height: 60vh;
	top: 35vh;
	margin: 0;

	display: flex;
	flex-direction: column;
}

#search{
	/*border: 5px solid blue;*/
	text-align: center;
	color: #9bbdf1a7;
	border-bottom: 5px solid #387ADF;
	margin-bottom: 10px;
	font-size: 0.8em;
	text-transform: uppercase;
}

#search:focus{
	outline: none;
}

#search:hover{
	cursor: text;
}

#options{
	/*border: 5px solid green;*/
	flex-grow: 4;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: flex-start;
	align-content: flex-start;
}

.option{
	width: auto;
	height: 1.15em;
	border: 4px dotted #DC5F00;
	text-align: center;
	justify-content: center;  
	margin: 0;
	padding: 10px;
	margin: 7px;

	color: #151515;
	font-family: "Poppins", sans-serif;
	font-weight: 550;
	font-style: normal;
}

.option-hover{
	animation-name: anim-option-hover;
	animation-duration: 1.25s;
	animation-fill-mode: forwards;
}

.option-hoverout{
	animation-name: anim-option-hoverout;
	animation-duration: 1.25s;
	animation-fill-mode: forwards;
}

@keyframes anim-option-hover{
	0%{}
	100%{scale: 1.05 1.05;}
}

@keyframes anim-option-hoverout{
	0%{scale: 1.1 1.1;}
	100%{}
}

.option:hover{
	cursor: default
}

.highlight{
	color: #C73659;
}

#quote-container{
	margin: 0;
	margin-top: 10vh;
}

#quote-reveal-container{
	font-family: "Special Elite", system-ui;
	font-weight: 400;
	font-style: normal;
	font-size: 1.5em;
	text-shadow: red 2px 5px;
	opacity: 0.75;

	position: absolute;
	left: 0; 
	right: 0; 
	margin-top: 5vh;
	margin-left: auto; 
	margin-right: auto; 
	width: 1500px; 
	z-index: 4;
}

.correct-answer{
	font-size: 1em;
	position: absolute;
	text-align: center;	
	justify-content: center;
	align-items: center;
	font-weight: 600;
	z-index: 4;
	left: 0; 
	right: 0; 
	bottom: 50vh;
	border-radius: 10px;
	margin-left: auto; 
	margin-right: auto; 
	width: fit-content;
	padding: 10px;
	height: 1em;

	border: 5px solid #95c449; 
	background-color: #95c44973;
	color: white;
}

.wrong-answer{
	font-size: 1em;
	position: absolute;
	text-align: center;	
	justify-content: center;
	align-items: center;
	font-weight: 600;
	z-index: 4;
	left: 0; 
	right: 0; 
	bottom: 50vh;
	border-radius: 10px;
	margin-left: auto; 
	margin-right: auto; 
	width: fit-content;
	padding: 10px;
	height: 1em;

	border: 5px solid #d54c3f; 
	background-color: #d54c3f76;
	color: white;

	animation-name: shake;
	animation-duration: .1s;
	animation-iteration-count: 5;
}
#quote{
	color: #151515;
	font-weight: 700;
	text-align: center;
	font-style: oblique;
	font-size: 1.2em;
	margin: 0;
}

#quote-reveal{
	font-family: "Special Elite", system-ui;
	font-weight: 400;
	font-style: normal;

	color: #e7e7e7;
	font-weight: 700;
	text-align: center;
	font-style: oblique;
	font-size: 1.2em;
	margin: 0;

	animation-name: shake-creepy;
	animation-duration: 1.5s;
	animation-delay: 1.5s;
	animation-iteration-count: infinite;
}

#quote-reveal span{
	color: #e7e7e7;
}

#quote:hover{
	pointer-events: none;
	cursor: default;
}

#kahoot-cover{
	position: absolute;
	width: 45vw;
	height: 30vh;
}

.cover{
	position: absolute;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

#blackscreen{
	filter: sepia(100%) saturate(300%) brightness(70%) hue-rotate(180deg);
	z-index: 3;
}

#kahoot-cover img{
	position: absolute;
	z-index: 1;
}

#kahoot-cover span{
	position: absolute;
	z-index: 2;
	font-style: italic;
	font-weight: 500;
	font-size: 2em;

	pointer-events: none;
	translate: 43vw 45vh;

	animation-name: shake;
	animation-duration: .15s;
	animation-iteration-count: infinite;
}

@keyframes shake-creepy {
	0% { transform: translate(0, 0) rotate(0deg); }
	1% { transform: translate(5px, 5px) rotate(4.5deg); }
	1.5% { transform: translate(0, 0) rotate(0eg); }
	2% { transform: translate(-5px, 5px) rotate(-4.5deg); }
	3% { transform: translate(0, 0) rotate(0deg); }
	3.1% { transform: translate(0, 0) rotate(0deg); }
	100% { transform: translate(0, 0) rotate(0deg); }
}


@keyframes shake {
	0% { transform: translate(0, 0) rotate(0deg); }
	25% { transform: translate(2.5px, 2.5px) rotate(2deg); }
	50% { transform: translate(0, 0) rotate(0eg); }
	75% { transform: translate(-2.5px, 2.5px) rotate(-2deg); }
	100% { transform: translate(0, 0) rotate(0deg); }
}

@keyframes shake2{
	0% { transform: skewX(-15deg); }
	5% { transform: skewX(15deg); }
	10% { transform: skewX(-15deg); }
	15% { transform: skewX(15deg); }
	20% { transform: skewX(0deg); }
	100% { transform: skewX(0deg); }
}

#score{
	position: absolute;
	right: 2vw;
	top: 1vh;
	text-align: right;
	width: 6em;
	background-color: #15F5BA;
	color: #F0F3FF;
	border-radius: 10px;
	padding: 10px;
	margin: 0;
}